* {
  margin: 0;
  padding: 0;
}

body {
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #e0e0e0;
  /* background: url("https://images.unsplash.com/photo-1464030871258-a01dfd38220a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2687&q=80"); */
}

.app-container {
  max-width: 1500px;
  height: 100%;
  background-color: #e0e0e0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h2 {
  height: 500px;
  background-color: red;
}