.nav-container {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background: white;
    border-radius: 30px;
    margin: 10px;
    padding: 3px 10px;
    border-color: black;
}