:root {
    --rounded-box-height: calc(100vh - 100px);
    --rounded-corners-value: 25px;
    --box-color: #f2f2f2;
}

.rounded-box {
    max-width: 1500px;
    height: var(--rounded-box-height);
    margin: 0 auto;
    border-radius: var(--rounded-corners-value);
    background: var(--box-color);
    opacity: 90%;
    display: flex;
    flex-direction: column;
}

.content-title {
    /* background: red; */
    min-height: 75px;
    display: flex;
    align-items: center;
    font-size: 36px;
    margin-left: 25px;
    margin-right: 25px;
    /* margin-top: 25px; */
}

.content-boxes-container {
    /* background: aqua; */
    flex: 1;
    margin-bottom: 22px;
    margin-top: -10px;
    overflow-y: auto;
}